# 1 Import Libiraries

In [ ]:
import pandas as pd
import numpy as np
import gc
from sklearn.preprocessing import LabelEncoder

train = pd.read_csv('data/train_after_feature_selection.csv')
test = pd.read_csv('data/test_after_feature_selection.csv')

# 2 Feature Construction

## 2.1 Transaction Amount

### 2.1.1 TransactionAmt into bin

In [58]:
train['TransactionAmt_bin'] = pd.cut(train['TransactionAmt'].astype(int),500)
test['TransactionAmt_bin'] = pd.cut(test['TransactionAmt'].astype(int),500)

train.head(20)

,Unnamed: 0,TransactionAmt,card1,card2,card3,card5,addr1,dist1,C1,C2,...,id_37_F,id_38_F,DeviceType_desktop,P_emaildomain,id_30,id_31,id_33,DeviceInfo,isFraud,TransactionAmt_bin
0,0,68.5000,13926.0,363.33368,150.0,142.0,315.0000,19.0,1.0,1.0,...,NaN,NaN,NaN,16,74,103,260,1732,0.0,"(63.872, 127.744]"
1,1,29.0000,2755.0,404.00000,150.0,102.0,325.0000,8.0,1.0,1.0,...,NaN,NaN,NaN,16,74,103,260,1732,0.0,"(-31.936, 63.872]"
2,2,59.0000,4663.0,490.00000,150.0,166.0,330.0000,287.0,1.0,1.0,...,NaN,NaN,NaN,35,74,103,260,1732,0.0,"(-31.936, 63.872]"
3,3,50.0000,18132.0,567.00000,150.0,117.0,476.0000,8.0,2.0,5.0,...,NaN,NaN,NaN,53,74,103,260,1732,0.0,"(-31.936, 63.872]"
4,4,50.0000,4497.0,514.00000,150.0,102.0,420.0000,8.0,1.0,1.0,...,0.0,0.0,0.0,16,7,124,164,948,0.0,"(-31.936, 63.872]"
5,5,49.0000,5937.0,555.00000,150.0,226.0,272.0000,36.0,1.0,1.0,...,NaN,NaN,NaN,16,74,103,260,1732,0.0,"(-31.936, 63.872]"
6,6,159.0000,12308.0,360.00000,150.0,166.0,126.0000,0.0,1.0,1.0,...,NaN,NaN,NaN,53,74,103,260,1732,0.0,"(127.744, 191.616]"
7,7,422.5000,12695.0,490.00000,150.0,226.0,325.0000,8.0,1.0,1.0,...,NaN,NaN,NaN,29,74,103,260,1732,0.0,"(383.232, 447.104]"
8,8,15.0000,2803.0,100.00000,150.0,226.0,337.0000,8.0,1.0,1.0,...,1.0,0.0,0.0,1,63,98,48,1717,0.0,"(-31.936, 63.872]"
9,9,117.0000,17399.0,111.00000,150.0,224.0,204.0000,19.0,2.0,2.0,...,NaN,NaN,NaN,53,74,103,260,1732,0.0,"(63.872, 127.744]"
10,10,75.8750,16496.0,352.00000,117.0,134.0,291.2982,8.0,1.0,4.0,...,0.0,0.0,1.0,16,42,44,132,1589,0.0,"(63.872, 127.744]"
11,11,16.5000,4461.0,375.00000,185.0,224.0,291.2982,8.0,1.0,1.0,...,0.0,0.0,1.0,19,42,44,132,1589,0.0,"(-31.936, 63.872]"
12,12,50.0000,3786.0,418.00000,150.0,226.0,204.0000,8.0,4.0,2.0,...,NaN,NaN,NaN,48,74,103,260,1732,0.0,"(-31.936, 63.872]"
13,13,40.0000,12866.0,303.00000,150.0,226.0,330.0000,8.0,6.0,5.0,...,NaN,NaN,NaN,2,74,103,260,1732,0.0,"(-31.936, 63.872]"
14,14,10.5000,11839.0,490.00000,150.0,226.0,226.0000,8.0,1.0,1.0,...,NaN,NaN,NaN,53,74,103,260,1732,0.0,"(-31.936, 63.872]"
15,15,57.9375,7055.0,555.00000,150.0,226.0,315.0000,3.0,4.0,4.0,...,NaN,NaN,NaN,16,74,103,260,1732,0.0,"(-31.936, 63.872]"
16,16,30.0000,1790.0,555.00000,150.0,226.0,170.0000,8.0,1.0,1.0,...,0.0,0.0,1.0,2,24,44,40,719,0.0,"(-31.936, 63.872]"
17,17,100.0000,11492.0,111.00000,150.0,219.0,204.0000,8.0,1.0,1.0,...,0.0,0.0,1.0,53,42,44,60,1589,0.0,"(63.872, 127.744]"
18,18,47.9375,4663.0,490.00000,150.0,166.0,184.0000,5.0,1.0,1.0,...,NaN,NaN,NaN,16,74,103,260,1732,0.0,"(-31.936, 63.872]"
19,19,186.0000,7005.0,111.00000,150.0,226.0,264.0000,8.0,2.0,5.0,...,NaN,NaN,NaN,16,74,103,260,1732,0.0,"(127.744, 191.616]"

### 2.1.2 TransactionAmt_bin encoding

In [65]:
label = LabelEncoder()
train['TransactionAmt_bin_code'] = label.fit_transform(train['TransactionAmt_bin'])
test['TransactionAmt_bin_code'] = label.fit_transform(test['TransactionAmt_bin'])
train.head(10)

,Unnamed: 0,TransactionAmt,card1,card2,card3,card5,addr1,dist1,C1,C2,...,P_emaildomain,id_30,id_31,id_33,DeviceInfo,isFraud,TransactionAmt_bin,TransactionAmt_bin_code,card1_bin,card1_bin_code
0,0,68.5,13926.0,363.33368,150.0,142.0,315.0,19.0,1.0,1.0,...,16,74,103,260,1732,0.0,"(63.872, 127.744]",1,"(13873.04, 14047.0]",74
1,1,29.0,2755.0,404.00000,150.0,102.0,325.0,8.0,1.0,1.0,...,16,74,103,260,1732,0.0,"(-31.936, 63.872]",0,"(2739.6, 2913.56]",10
2,2,59.0,4663.0,490.00000,150.0,166.0,330.0,287.0,1.0,1.0,...,35,74,103,260,1732,0.0,"(-31.936, 63.872]",0,"(4653.16, 4827.12]",21
3,3,50.0,18132.0,567.00000,150.0,117.0,476.0,8.0,2.0,5.0,...,53,74,103,260,1732,0.0,"(-31.936, 63.872]",0,"(18048.08, 18222.04]",98
4,4,50.0,4497.0,514.00000,150.0,102.0,420.0,8.0,1.0,1.0,...,16,7,124,164,948,0.0,"(-31.936, 63.872]",0,"(4479.2, 4653.16]",20
5,5,49.0,5937.0,555.00000,150.0,226.0,272.0,36.0,1.0,1.0,...,16,74,103,260,1732,0.0,"(-31.936, 63.872]",0,"(5870.88, 6044.84]",28
6,6,159.0,12308.0,360.00000,150.0,166.0,126.0,0.0,1.0,1.0,...,53,74,103,260,1732,0.0,"(127.744, 191.616]",2,"(12307.4, 12481.36]",65
7,7,422.5,12695.0,490.00000,150.0,226.0,325.0,8.0,1.0,1.0,...,29,74,103,260,1732,0.0,"(383.232, 447.104]",6,"(12655.32, 12829.28]",67
8,8,15.0,2803.0,100.00000,150.0,226.0,337.0,8.0,1.0,1.0,...,1,63,98,48,1717,0.0,"(-31.936, 63.872]",0,"(2739.6, 2913.56]",10
9,9,117.0,17399.0,111.00000,150.0,224.0,204.0,19.0,2.0,2.0,...,53,74,103,260,1732,0.0,"(63.872, 127.744]",1,"(17352.24, 17526.2]",94

## 2.2 card 1

### 2.2.1 card1 into bin

In [68]:
train['card1_bin'] = pd.cut(train['card1'].astype(int),20)
test['card1_bin'] = pd.cut(test['card1'].astype(int),20)
train.head(10)

,Unnamed: 0,TransactionAmt,card1,card2,card3,card5,addr1,dist1,C1,C2,...,P_emaildomain,id_30,id_31,id_33,DeviceInfo,isFraud,TransactionAmt_bin,TransactionAmt_bin_code,card1_bin,card1_bin_code
0,0,68.5,13926.0,363.33368,150.0,142.0,315.0,19.0,1.0,1.0,...,16,74,103,260,1732,0.0,"(63.872, 127.744]",1,"(13177.2, 14047.0]",74
1,1,29.0,2755.0,404.00000,150.0,102.0,325.0,8.0,1.0,1.0,...,16,74,103,260,1732,0.0,"(-31.936, 63.872]",0,"(2739.6, 3609.4]",10
2,2,59.0,4663.0,490.00000,150.0,166.0,330.0,287.0,1.0,1.0,...,35,74,103,260,1732,0.0,"(-31.936, 63.872]",0,"(4479.2, 5349.0]",21
3,3,50.0,18132.0,567.00000,150.0,117.0,476.0,8.0,2.0,5.0,...,53,74,103,260,1732,0.0,"(-31.936, 63.872]",0,"(17526.2, 18396.0]",98
4,4,50.0,4497.0,514.00000,150.0,102.0,420.0,8.0,1.0,1.0,...,16,7,124,164,948,0.0,"(-31.936, 63.872]",0,"(4479.2, 5349.0]",20
5,5,49.0,5937.0,555.00000,150.0,226.0,272.0,36.0,1.0,1.0,...,16,74,103,260,1732,0.0,"(-31.936, 63.872]",0,"(5349.0, 6218.8]",28
6,6,159.0,12308.0,360.00000,150.0,166.0,126.0,0.0,1.0,1.0,...,53,74,103,260,1732,0.0,"(127.744, 191.616]",2,"(12307.4, 13177.2]",65
7,7,422.5,12695.0,490.00000,150.0,226.0,325.0,8.0,1.0,1.0,...,29,74,103,260,1732,0.0,"(383.232, 447.104]",6,"(12307.4, 13177.2]",67
8,8,15.0,2803.0,100.00000,150.0,226.0,337.0,8.0,1.0,1.0,...,1,63,98,48,1717,0.0,"(-31.936, 63.872]",0,"(2739.6, 3609.4]",10
9,9,117.0,17399.0,111.00000,150.0,224.0,204.0,19.0,2.0,2.0,...,53,74,103,260,1732,0.0,"(63.872, 127.744]",1,"(16656.4, 17526.2]",94

### 2.2.2 card1_bin encoding

In [69]:
label = LabelEncoder()
train['card1_bin_code'] = label.fit_transform(train['card1_bin'])
test['card1_bin_code'] = label.fit_transform(test['card1_bin'])
train.head(10)

,Unnamed: 0,TransactionAmt,card1,card2,card3,card5,addr1,dist1,C1,C2,...,P_emaildomain,id_30,id_31,id_33,DeviceInfo,isFraud,TransactionAmt_bin,TransactionAmt_bin_code,card1_bin,card1_bin_code
0,0,68.5,13926.0,363.33368,150.0,142.0,315.0,19.0,1.0,1.0,...,16,74,103,260,1732,0.0,"(63.872, 127.744]",1,"(13177.2, 14047.0]",14
1,1,29.0,2755.0,404.00000,150.0,102.0,325.0,8.0,1.0,1.0,...,16,74,103,260,1732,0.0,"(-31.936, 63.872]",0,"(2739.6, 3609.4]",2
2,2,59.0,4663.0,490.00000,150.0,166.0,330.0,287.0,1.0,1.0,...,35,74,103,260,1732,0.0,"(-31.936, 63.872]",0,"(4479.2, 5349.0]",4
3,3,50.0,18132.0,567.00000,150.0,117.0,476.0,8.0,2.0,5.0,...,53,74,103,260,1732,0.0,"(-31.936, 63.872]",0,"(17526.2, 18396.0]",19
4,4,50.0,4497.0,514.00000,150.0,102.0,420.0,8.0,1.0,1.0,...,16,7,124,164,948,0.0,"(-31.936, 63.872]",0,"(4479.2, 5349.0]",4
5,5,49.0,5937.0,555.00000,150.0,226.0,272.0,36.0,1.0,1.0,...,16,74,103,260,1732,0.0,"(-31.936, 63.872]",0,"(5349.0, 6218.8]",5
6,6,159.0,12308.0,360.00000,150.0,166.0,126.0,0.0,1.0,1.0,...,53,74,103,260,1732,0.0,"(127.744, 191.616]",2,"(12307.4, 13177.2]",13
7,7,422.5,12695.0,490.00000,150.0,226.0,325.0,8.0,1.0,1.0,...,29,74,103,260,1732,0.0,"(383.232, 447.104]",6,"(12307.4, 13177.2]",13
8,8,15.0,2803.0,100.00000,150.0,226.0,337.0,8.0,1.0,1.0,...,1,63,98,48,1717,0.0,"(-31.936, 63.872]",0,"(2739.6, 3609.4]",2
9,9,117.0,17399.0,111.00000,150.0,224.0,204.0,19.0,2.0,2.0,...,53,74,103,260,1732,0.0,"(63.872, 127.744]",1,"(16656.4, 17526.2]",18

## 2.3 Card 2

### 2.3.1 Card1 Into Bin

In [70]:
train['card2_bin'] = pd.cut(train['card2'].astype(int),20)
test['card2_bin'] = pd.cut(test['card2'].astype(int),20)
train.head(10)

,Unnamed: 0,TransactionAmt,card1,card2,card3,card5,addr1,dist1,C1,C2,...,id_30,id_31,id_33,DeviceInfo,isFraud,TransactionAmt_bin,TransactionAmt_bin_code,card1_bin,card1_bin_code,card2_bin
0,0,68.5,13926.0,363.33368,150.0,142.0,315.0,19.0,1.0,1.0,...,74,103,260,1732,0.0,"(63.872, 127.744]",1,"(13177.2, 14047.0]",14,"(350.0, 375.0]"
1,1,29.0,2755.0,404.00000,150.0,102.0,325.0,8.0,1.0,1.0,...,74,103,260,1732,0.0,"(-31.936, 63.872]",0,"(2739.6, 3609.4]",2,"(400.0, 425.0]"
2,2,59.0,4663.0,490.00000,150.0,166.0,330.0,287.0,1.0,1.0,...,74,103,260,1732,0.0,"(-31.936, 63.872]",0,"(4479.2, 5349.0]",4,"(475.0, 500.0]"
3,3,50.0,18132.0,567.00000,150.0,117.0,476.0,8.0,2.0,5.0,...,74,103,260,1732,0.0,"(-31.936, 63.872]",0,"(17526.2, 18396.0]",19,"(550.0, 575.0]"
4,4,50.0,4497.0,514.00000,150.0,102.0,420.0,8.0,1.0,1.0,...,7,124,164,948,0.0,"(-31.936, 63.872]",0,"(4479.2, 5349.0]",4,"(500.0, 525.0]"
5,5,49.0,5937.0,555.00000,150.0,226.0,272.0,36.0,1.0,1.0,...,74,103,260,1732,0.0,"(-31.936, 63.872]",0,"(5349.0, 6218.8]",5,"(550.0, 575.0]"
6,6,159.0,12308.0,360.00000,150.0,166.0,126.0,0.0,1.0,1.0,...,74,103,260,1732,0.0,"(127.744, 191.616]",2,"(12307.4, 13177.2]",13,"(350.0, 375.0]"
7,7,422.5,12695.0,490.00000,150.0,226.0,325.0,8.0,1.0,1.0,...,74,103,260,1732,0.0,"(383.232, 447.104]",6,"(12307.4, 13177.2]",13,"(475.0, 500.0]"
8,8,15.0,2803.0,100.00000,150.0,226.0,337.0,8.0,1.0,1.0,...,63,98,48,1717,0.0,"(-31.936, 63.872]",0,"(2739.6, 3609.4]",2,"(99.5, 125.0]"
9,9,117.0,17399.0,111.00000,150.0,224.0,204.0,19.0,2.0,2.0,...,74,103,260,1732,0.0,"(63.872, 127.744]",1,"(16656.4, 17526.2]",18,"(99.5, 125.0]"

### 2.3.2 Card2 Encoding

In [71]:
label = LabelEncoder()
train['card2_bin_code'] = label.fit_transform(train['card2_bin'])
test['card2_bin_code'] = label.fit_transform(test['card2_bin'])
train.head(10)

,Unnamed: 0,TransactionAmt,card1,card2,card3,card5,addr1,dist1,C1,C2,...,id_31,id_33,DeviceInfo,isFraud,TransactionAmt_bin,TransactionAmt_bin_code,card1_bin,card1_bin_code,card2_bin,card2_bin_code
0,0,68.5,13926.0,363.33368,150.0,142.0,315.0,19.0,1.0,1.0,...,103,260,1732,0.0,"(63.872, 127.744]",1,"(13177.2, 14047.0]",14,"(350.0, 375.0]",10
1,1,29.0,2755.0,404.00000,150.0,102.0,325.0,8.0,1.0,1.0,...,103,260,1732,0.0,"(-31.936, 63.872]",0,"(2739.6, 3609.4]",2,"(400.0, 425.0]",12
2,2,59.0,4663.0,490.00000,150.0,166.0,330.0,287.0,1.0,1.0,...,103,260,1732,0.0,"(-31.936, 63.872]",0,"(4479.2, 5349.0]",4,"(475.0, 500.0]",15
3,3,50.0,18132.0,567.00000,150.0,117.0,476.0,8.0,2.0,5.0,...,103,260,1732,0.0,"(-31.936, 63.872]",0,"(17526.2, 18396.0]",19,"(550.0, 575.0]",18
4,4,50.0,4497.0,514.00000,150.0,102.0,420.0,8.0,1.0,1.0,...,124,164,948,0.0,"(-31.936, 63.872]",0,"(4479.2, 5349.0]",4,"(500.0, 525.0]",16
5,5,49.0,5937.0,555.00000,150.0,226.0,272.0,36.0,1.0,1.0,...,103,260,1732,0.0,"(-31.936, 63.872]",0,"(5349.0, 6218.8]",5,"(550.0, 575.0]",18
6,6,159.0,12308.0,360.00000,150.0,166.0,126.0,0.0,1.0,1.0,...,103,260,1732,0.0,"(127.744, 191.616]",2,"(12307.4, 13177.2]",13,"(350.0, 375.0]",10
7,7,422.5,12695.0,490.00000,150.0,226.0,325.0,8.0,1.0,1.0,...,103,260,1732,0.0,"(383.232, 447.104]",6,"(12307.4, 13177.2]",13,"(475.0, 500.0]",15
8,8,15.0,2803.0,100.00000,150.0,226.0,337.0,8.0,1.0,1.0,...,98,48,1717,0.0,"(-31.936, 63.872]",0,"(2739.6, 3609.4]",2,"(99.5, 125.0]",0
9,9,117.0,17399.0,111.00000,150.0,224.0,204.0,19.0,2.0,2.0,...,103,260,1732,0.0,"(63.872, 127.744]",1,"(16656.4, 17526.2]",18,"(99.5, 125.0]",0

## 2.4 Distance

### 2.4.1 Distance Into Bin

In [78]:
train['dist1_bin'] = pd.cut(train['dist1'].astype(int),500)
test['dist1_bin'] = pd.cut(test['dist1'].astype(int),500)
train.head(10)

,Unnamed: 0,TransactionAmt,card1,card2,card3,card5,addr1,dist1,C1,C2,...,DeviceInfo,isFraud,TransactionAmt_bin,TransactionAmt_bin_code,card1_bin,card1_bin_code,card2_bin,card2_bin_code,dist1_bin,dist1_bin_code
0,0,68.5,13926.0,363.33368,150.0,142.0,315.0,19.0,1.0,1.0,...,1732,0.0,"(63.872, 127.744]",1,"(13177.2, 14047.0]",14,"(350.0, 375.0]",10,"(-10.288, 20.576]",0
1,1,29.0,2755.0,404.00000,150.0,102.0,325.0,8.0,1.0,1.0,...,1732,0.0,"(-31.936, 63.872]",0,"(2739.6, 3609.4]",2,"(400.0, 425.0]",12,"(-10.288, 20.576]",0
2,2,59.0,4663.0,490.00000,150.0,166.0,330.0,287.0,1.0,1.0,...,1732,0.0,"(-31.936, 63.872]",0,"(4479.2, 5349.0]",4,"(475.0, 500.0]",15,"(267.488, 288.064]",5
3,3,50.0,18132.0,567.00000,150.0,117.0,476.0,8.0,2.0,5.0,...,1732,0.0,"(-31.936, 63.872]",0,"(17526.2, 18396.0]",19,"(550.0, 575.0]",18,"(-10.288, 20.576]",0
4,4,50.0,4497.0,514.00000,150.0,102.0,420.0,8.0,1.0,1.0,...,948,0.0,"(-31.936, 63.872]",0,"(4479.2, 5349.0]",4,"(500.0, 525.0]",16,"(-10.288, 20.576]",0
5,5,49.0,5937.0,555.00000,150.0,226.0,272.0,36.0,1.0,1.0,...,1732,0.0,"(-31.936, 63.872]",0,"(5349.0, 6218.8]",5,"(550.0, 575.0]",18,"(20.576, 41.152]",0
6,6,159.0,12308.0,360.00000,150.0,166.0,126.0,0.0,1.0,1.0,...,1732,0.0,"(127.744, 191.616]",2,"(12307.4, 13177.2]",13,"(350.0, 375.0]",10,"(-10.288, 20.576]",0
7,7,422.5,12695.0,490.00000,150.0,226.0,325.0,8.0,1.0,1.0,...,1732,0.0,"(383.232, 447.104]",6,"(12307.4, 13177.2]",13,"(475.0, 500.0]",15,"(-10.288, 20.576]",0
8,8,15.0,2803.0,100.00000,150.0,226.0,337.0,8.0,1.0,1.0,...,1717,0.0,"(-31.936, 63.872]",0,"(2739.6, 3609.4]",2,"(99.5, 125.0]",0,"(-10.288, 20.576]",0
9,9,117.0,17399.0,111.00000,150.0,224.0,204.0,19.0,2.0,2.0,...,1732,0.0,"(63.872, 127.744]",1,"(16656.4, 17526.2]",18,"(99.5, 125.0]",0,"(-10.288, 20.576]",0

### 2.4.2 Distance Encoding

In [79]:
label = LabelEncoder()
train['dist1_bin_code'] = label.fit_transform(train['dist1_bin'])
test['dist1_bin_code'] = label.fit_transform(test['dist1_bin'])
train.head(10)

,Unnamed: 0,TransactionAmt,card1,card2,card3,card5,addr1,dist1,C1,C2,...,DeviceInfo,isFraud,TransactionAmt_bin,TransactionAmt_bin_code,card1_bin,card1_bin_code,card2_bin,card2_bin_code,dist1_bin,dist1_bin_code
0,0,68.5,13926.0,363.33368,150.0,142.0,315.0,19.0,1.0,1.0,...,1732,0.0,"(63.872, 127.744]",1,"(13177.2, 14047.0]",14,"(350.0, 375.0]",10,"(-10.288, 20.576]",0
1,1,29.0,2755.0,404.00000,150.0,102.0,325.0,8.0,1.0,1.0,...,1732,0.0,"(-31.936, 63.872]",0,"(2739.6, 3609.4]",2,"(400.0, 425.0]",12,"(-10.288, 20.576]",0
2,2,59.0,4663.0,490.00000,150.0,166.0,330.0,287.0,1.0,1.0,...,1732,0.0,"(-31.936, 63.872]",0,"(4479.2, 5349.0]",4,"(475.0, 500.0]",15,"(267.488, 288.064]",13
3,3,50.0,18132.0,567.00000,150.0,117.0,476.0,8.0,2.0,5.0,...,1732,0.0,"(-31.936, 63.872]",0,"(17526.2, 18396.0]",19,"(550.0, 575.0]",18,"(-10.288, 20.576]",0
4,4,50.0,4497.0,514.00000,150.0,102.0,420.0,8.0,1.0,1.0,...,948,0.0,"(-31.936, 63.872]",0,"(4479.2, 5349.0]",4,"(500.0, 525.0]",16,"(-10.288, 20.576]",0
5,5,49.0,5937.0,555.00000,150.0,226.0,272.0,36.0,1.0,1.0,...,1732,0.0,"(-31.936, 63.872]",0,"(5349.0, 6218.8]",5,"(550.0, 575.0]",18,"(20.576, 41.152]",1
6,6,159.0,12308.0,360.00000,150.0,166.0,126.0,0.0,1.0,1.0,...,1732,0.0,"(127.744, 191.616]",2,"(12307.4, 13177.2]",13,"(350.0, 375.0]",10,"(-10.288, 20.576]",0
7,7,422.5,12695.0,490.00000,150.0,226.0,325.0,8.0,1.0,1.0,...,1732,0.0,"(383.232, 447.104]",6,"(12307.4, 13177.2]",13,"(475.0, 500.0]",15,"(-10.288, 20.576]",0
8,8,15.0,2803.0,100.00000,150.0,226.0,337.0,8.0,1.0,1.0,...,1717,0.0,"(-31.936, 63.872]",0,"(2739.6, 3609.4]",2,"(99.5, 125.0]",0,"(-10.288, 20.576]",0
9,9,117.0,17399.0,111.00000,150.0,224.0,204.0,19.0,2.0,2.0,...,1732,0.0,"(63.872, 127.744]",1,"(16656.4, 17526.2]",18,"(99.5, 125.0]",0,"(-10.288, 20.576]",0